@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor:
		url("https://boyintyoko.github.io/clock-web/icons/cursor.png") 8 8,
		auto;
}

body {
	overflow: hidden;
	background: #f9f9f9;
}

*::-webkit-scrollbar {
	display: none;
}
