@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor:
		url("https://boyintyoko.github.io/clock-web/icons/cursor.png") 8 8,
		auto;
}

body {
	overflow: hidden;
	background: #f9f9f9;
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.25s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.25s ease-out;
}
